---
http_interactions:
- request:
    method: post
    uri: https://api.getirkit.com/1/messages
    body:
      encoding: UTF-8
      string: clientkey=<IRKIT_CLIENT_KEY>&deviceid=<IRKIT_DEVICE_ID>&message=<MESSAGE>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Oct 2014 17:01:07 GMT
- request:
    method: post
    uri: http://api.justyo.co/yo/
    body:
      encoding: UTF-8
      string: username=<USER_NAME>&api_token=<YO_API_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result": "OK"}'
  recorded_at: Mon, 06 Oct 2014 17:01:10 GMT
recorded_with: VCR 2.9.2
