---
http_interactions:
- request:
    method: post
    uri: https://api.getirkit.com/1/messages
    body:
      encoding: UTF-8
      string: clientkey=<IRKIT_CLIENT_KEY>&deviceid=<IRKIT_DEVICE_ID>&message=%7B%22format%22%3A%22raw%22%2C%22freq%22%3A38%2C%22data%22%3A%5B6881%2C3341%2C873%2C2537%2C873%2C2537%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C2537%2C873%2C873%2C873%2C873%2C873%2C2537%2C873%2C2537%2C873%2C873%2C873%2C2537%2C873%2C873%2C873%2C873%2C873%2C2537%2C873%2C2537%2C873%2C873%2C873%2C2537%2C873%2C2537%2C873%2C873%2C873%2C873%2C873%2C2537%2C873%2C873%2C873%2C873%2C873%2C2537%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2C873%2[...]
- request:
    method: post
    uri: http://api.justyo.co/yo/
    body:
      encoding: UTF-8
      string: username=<USER_NAME>&api_token=<YO_API_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result": "OK"}'
  recorded_at: Sun, 07 Sep 2014 18:04:47 GMT
recorded_with: VCR 2.9.2
